@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

/* .octodex {
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-top: 100px;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}
.octocat {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.5rem;
}

.image-footer {
  border-left: 1px solid black;
  border-right: 1px solid white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: flex-end;
  max-height: 20px;
}
.image-number {
  display: block;
} */

img {
  width: 100%;
}

.octodex {
  display: flex;
  justify-content: space-between;
}

.octocat {
  width: 32%;
}
.octocat > a {
  display: flex;
  border: solid 2px rgb(233, 233, 233);
  border-radius: 3px;
}

.authors img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 4px;
}
.image-caption {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.image-number {
  font-size: 18px;
  font-weight: 900;
  color: gray;
  top: 50%;
  opacity: 0.4;
}
.image-number::before {
  content: "#";
}

span {
  font-weight: bold;
  color: gray;
  opacity: 0.9;
  padding: 2px;
  font-family: "Roboto", sans-serif;
}
.image-caption > a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}
.image-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: solid 2px rgb(233, 233, 233);
}
.image-footer > span {
  content: "#";
  display: flex;
  align-items: center;
}
.authors {
  display: flex;
  padding: 0;
}
.image-caption {
  display: flex;
  align-items: center;
}
.octocat > a::after {
  content: "";
  border-right: solid 9px transparent;
  border-left: solid 9px transparent;
  border-top: solid 9px rgb(233, 233, 233);
  position: relative;
  top: 390px;
  right: 20px;
}
