@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
:root {
  --grayishcolor: #d8d7d7;
}
/* .octodex {
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-top: 100px;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
}
.octocat {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.5rem;
}

.image-footer {
  border-left: 1px solid black;
  border-right: 1px solid white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: flex-end;
  max-height: 20px;
}
.image-number {
  display: block;
} */
html {
  box-sizing: border-box;
}
img {
  width: 100%;
}

.octodex {
  text-align: center;
}
.octocat {
  width: 32%;
  display: inline-block;
}
.octocat > a {
  display: inline-block;
  border: solid 2px var(--grayishcolor);
  border-radius: 3px;
  position: relative;
}

.authors img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}
.image-number {
  font-size: 18px;
  font-weight: 900;
  color: gray;
  top: 50%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  transform: translateY(-50%);
}
.image-number::before {
  content: "#";
}

span {
  font-weight: bold;
  color: gray;
  opacity: 0.9;
  padding: 2px;
  font-family: "Roboto", sans-serif;
}
.image-caption > a {
  color: black;
  text-decoration: none;
  align-items: center;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}
.image-footer {
  height: 60px;
  border-bottom: solid 2px var(--grayishcolor);
  position: relative;
}
.image-footer > span {
  content: "#";
}
.image-caption {
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
}
.octocat > a::after {
  content: "";
  height: 0;
  width: 0;
  border-right: solid 9px transparent;
  border-left: solid 9px transparent;
  border-top: solid 9px var(--grayishcolor);
  position: absolute;
  /* move it in a relation to parent element
  if can't find anyone, moves it up to root element */
  top: 100%;
  right: 2%;
}
.authors > li > a {
  display: inline-block;
  width: 30px;
}
.authors {
  display: inline-block;
}
